name: Playwright CI

on:
    pull_request:
        branches:
            - main

jobs:
    playwright-tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"

            - name: Install dependencies
              run: npm ci
              working-directory: frontend

            - name: Install Playwright browsers
              run: npx playwright install --with-deps
              working-directory: frontend

            - name: Start frontend
              run: npm run dev &
              working-directory: frontend

            - name: Wait for frontend
              run: npx wait-on http://localhost:5173

            - name: Run Playwright tests
              run: npx playwright test --reporter=dot
              working-directory: frontend
